



/* Used W3Schools to help provide demo and code so I could adjust and use for the menu bar */
.u3site-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

.u3site-nav li {
  float: left;
}

.u3site-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




.u3site-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
  text-align: center;
}


p {
  color: white;
}