:root {
      --color-main-bgdark: #000814;
      --color-gold: #FFC300;
      --color-carolinablue: #0077B6;
      --color-text-sectionheaders-yellow: #FFFF00;
      --color-text-sections-darkblue: #FFFFFF; 
      --color-visitedlinks-gray: #D3D3D3;
      --color-hoveringlinks-magenta: #FF00FF;
      --color-lightblue: #4B9CD3;
      --color-lightgray: #D3D3D3;

      --space-xs: 0.50rem;
      --space-sm: 0.75rem;
      --space-md: 1.25rem;
      --space-lg: 2.50rem;
      --space-xl: 5rem;
      --space-flex: 2vw;
  
      --font-body: Verdana, Helvetica, sans-serif;
      --font-body-header: "Times New Roman", Times, serif;
      --font-size: 1.50rem;
      --font-size-header: 2.0rem;
      --line-height: 1.75rem;
      --font-weight: 1.0rem;
      --letter-spacing: .25rem; 

      --radius: 0.50rem;
      --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.5);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


articles-page {
    background-color: var(--color-main-bgdark);
    color: var(--color-gold);
    padding: clamp(var(--space-sm), var(--space-md), var(--space-lg));
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    font-family: var(--font-body);

}





.card-group {
    /* margin-bottom using a token */

    h2 {
        /* section heading styles */
          background-color: var(--color-carolinablue);
          color: var(--color-text-sectionheaders-yellow);
          padding: var(--space-md);
          border-radius: var(--radius);
          box-shadow: var(--shadow-sm);
          font-family: var(--font-body-header);
    }
}


.card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   padding: clamp(var(--space-sm), var(--space-md), var(--space-lg));

}


.card {
    border: 3px solid var(--cell-around);
    background-color: var(--color-lightblue);
    color: var(--color-text-sections-darkblue);
    padding: var(--space-md);
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    font-family: var(--font-body);
}



header {
    max-width: 80%;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction:column;
    padding: var(--space-lg, 2rem) var(--space-md, 1rem);
}

footer {
    max-width: 64rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction:column;
    padding: var(--space-flex, 2rem) var(--space-flex, 1rem);
}


